__pycache__

# Distribution / packaging
build/
dist/
*.egg-info/

tmp/
__pycache__

build/
*.so

.vscode

data/*.bin
data/*.idx
data/*.npy
logs/

.*.swp

data/zhwiki.corpus.json
data/enwiki.corpus.json

t.log

results/
